$primary: #58B6DF;
$secondary: #0070a3;
$success-border: #34bc9b;
$success: #34bc9b;
$text: #212529;
$text-placeholder: #778499;

$theme-colors: (
  'text': $text,
  'text-placeholder': $text-placeholder
);
